*,*::before, *::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: url("https://res.cloudinary.com/ddmnigwse/image/upload/v1679054857/bg-image_mw9pmi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
}



.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app__body{
  /* background-color: black; */
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headline-image{
  width: 280px;
}

.participants{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.participant{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  text-align: center;
  background-color: black;
  margin: 10px;
  padding: 10px 20px;
  font-size: 12px;
  text-align: left;
  border-radius: 10px;
  width: 290px;
  height: 200px;
}

.participant__number{
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width:1000px) {
  .headline-image{
    width: 780px;
  }

  .participant__number{
    font-size: 41px;
  }

  .participants{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .participant{
    font-size: 15.8px;
    width: 310px;
    height: 250px;
  }

  .participant__address{
    font-size: 12px;
  }
}

/* Buttons */

.btn{
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.btn--bet{
  color: wheat;
  font-size: 21px;
  padding: 5px 10px;
  background: rgb(2,0,36);
  background: linear-gradient(328deg, rgba(2,0,36,1) 0%, rgba(121,86,9,1) 53%, rgba(250,250,250,1) 97%);
  width: 80vw;
  height: 50px;
}

.app__overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: black;
  opacity: 0.85;
}

.app__winner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.app__winner p{
  font-size: 15px;
}

.app__winner .app__winner-participant{
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  .app__winner p{
    font-size: 25px;
  }
  
  .app__winner .app__winner-participant{
    font-size: 50px;
  }
}

.hidden{
  display: none;
}




